* {
  padding: 0;
  margin: 0;
  box-sizing:  border-box;
}

img { max-width: 100%; }

/* Optional padding to override default gridlex columns */ 

[class*=col] { padding: 0; }
[class~="grid"] { margin: 0;}








/* Typography Styles */

.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-center  { text-align: center; }

.uppercase  {   text-transform: uppercase;}

.light { font-weight: 300;}


body {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  font-size: 1.15rem;
  background-color: #FDF9F5;

}

h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  margin-bottom: 1.2rem;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 8rem;
    line-height: 0.9;
    margin-bottom: 0.2rem;
    
}

h3 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

h4 {
    font-size: 1rem;
    margin-bottom: 0.4rem;
    line-height: 0.8;
    text-transform: uppercase;
}

p {
  line-height: 1.6; 
  margin-bottom: 1rem;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}
li {
  margin-bottom: 0.8rem;
}


a:hover {
    color: #a4ac86;
}

.arrow {
  font-size: 0.8rem;

}



.date {

    font-size: 1.15rem;
    font-weight: 300;
}



.big-text {
    font-size: 1.8rem;
    line-height: 1.4;
    margin-bottom: 0;
}



h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
	margin-bottom: 0;
}



/* Height Utility Classes */

.tall-20     {   min-height: 20vh;}
.tall-25     {   min-height: 25vh;}
.tall-30     {   min-height: 30vh;}
.tall-40     {   min-height: 40vh;}
.tall-50     {   min-height: 50vh;}
.tall-60     {   min-height: 60vh;}
.tall-70     {   min-height: 70vh;}
.tall-80     {   min-height: 80vh;}
.tall-90     {   min-height: 90vh;}
.tall-100     {   min-height: 100vh;}


/* Padding Utility Classes */ 
.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }
.padded-3  { padding: 3rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }


/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }



/* Background Styles */

.bg-dark {
  border: 1px solid black; 
  }
.bg-white {
  background-color: white;
}
  
  .bg-featured { background-color: lightblue; }
  .bg-light { background-color: rgb(245,245,245); }
  
  .bg-image {
    background-color: grey; /* Set a fall-back color while images are loading */ 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
  /* Aspect Ratios with percentage unit are only effective if the element (the <div>) is inside a parent container or column, it can't be applied to the column itself. */
  
  .landscape     { padding-bottom: 66%;  }
  .portrait-tall { padding-bottom: 175%; }
  .portrait      { padding-bottom: 125%; }
  .square        { padding-bottom: 100%; }
  
  
  /* Background Position */
  .bg-pos-t { background-position: top; }
  .bg-pos-b { background-position: bottom; }
  .bg-pos-l { background-position: left; }
  .bg-pos-r { background-position: right; }






  /*                    Header             */


    /* Nav bar */

    .logo {
        font-size: 2rem;
    }
    .nav-bar {
        position: absolute;
        top: 0;
        width: 100vw;

        background-color: transparent;
        opacity: 80%;
        font-family: 'Cormorant Garamond', serif;
    
        z-index: 3;
    }

    header h4 {
        font-size: 2.5rem;
    }

    header p {
      margin-bottom: 2rem;
    }

    .block {
      display: block;
      margin-bottom: 1rem;
    }

    .border-r {
      border-radius: 5px;
    }

    .border-bottom {
      border-bottom: 1px solid;
    }

    .nav-bar nav a {
        margin-right: 2.5%;
        font-size: 1.2rem;
        text-transform: none;
    }


    .nav-bar nav a:last-child {
      margin-right: 0;
  }





/* Images */

.header-img {
    background-image: url(/images/healthy-infusion-1.jpg);
    
}

.about-img {
    background-image: url(/images/healthy-infusion-2.jpg);
}

.services-img {
    background-image: url(/images/test.png);
}

/* Youtube Video */

video {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  pointer-events: none;
}


/* Services */

.services h2 {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 1.2rem;
  cursor: pointer;
}

.services h2:hover {
  color: #a4ac86;
}

.services .big-text {
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
}


.services .small-text {
  font-size: 0.9rem;
}

.medium-text {
  font-size: 1.3rem;
  font-style: italic;
}

.services .medium-text {
  cursor: pointer;
}


.border-lr {
  border-right: 2rem solid transparent;
  border-left: 2rem solid transparent;
  
}

.no-border {
  border: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Hotelpartner */



/* Footer */

.margin-t-lg {
  margin-top: 10%;
}

.number {
  font-size: 1rem;
}
.border-top {
  border-top: 1px solid rgb(200,200,200);
}

footer nav a {
  display:block;
  font-size: 0.9rem;
  text-transform: none;
}

 footer {
   font-size: 1rem;
 }
  footer h2 {
    margin-bottom: 0;
  }

  footer h4 {
    margin-bottom: 1rem;
  }

  .inline {
    display: inline;
  }





  /* Appointments Page */



  /* Contact Page */

  .contact-form {
    width: 100%;
  }


  input, textarea {
    border-style: solid;
    border: none;
    border-bottom: 1px solid rgb(200,200,200);
    text-align: center;
    padding: 0.8em;
    display: block;
    width: 100%;
    background-color: transparent;

    
  }

  textarea, input, button, select { font-family: inherit; font-size: inherit; font-weight: inherit; }

  textarea::placeholder {
    color: black;
    font-weight: 200;
    opacity: 1;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-weight: 200;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    font-weight: 200;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    font-weight: 200;
  }

  textarea {
    border: 1px solid rgb(200,200,200);
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    /* featured color */
  }
  
  textarea {
    min-height: 7em;
  }
  
  input[type="submit"] {
    width: auto;
    display: block;
  }
  
  form [class*=col-] {
    padding: 5px;
  }
  

  .email-signup input {
    width: 30%;
    display: inline-block;
    max-width: 250px;
    margin-top:1rem;
  }
  
  .email-signup .button-solid {
    padding: 0.8em;
    border-radius: 0;
    font-size: 1rem;
  }
  form .button {
    width:100%;
    border-bottom: none;
    text-align: right;
    background-color: transparent;
  }
    @media(max-width:768px) {
     .email-signup input {
       width: 100%;
       max-width: 100%;
     }
   }

 

/* Mobile Styles */

/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.show-xs, 
.show-sm,
.show-md {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {
  .show-md { display: block; }
  .hide-md { display: none;  }

  .md-margin-t-1 { margin-top: 5%;}
  .md-margin-t-2 { margin-top: 10%;}
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

@media (max-width: 48em) {
  .show-sm { display: block; }
  .hide-sm { display: none;  }
	 
  .sm-text-center { text-align: center; }
  .sm-text-left { text-align: left; }
  .sm-text-right { text-align: right; }

  .sm-padded { padding: 5%; }
  .sm-padded-1 { padding: 1rem; }
  .sm-padded-05 { padding: 0.5rem; }

  .sm-padded-t-0 { padding-top: 0; }
  .sm-padded-b-0 { padding-bottom: 0; }
  .sm-padded-l-0 { padding-left: 0; }
  .sm-padded-r-0 { padding-right: 0; }
  
  .sm-margin-t-0 { margin-top: 0; }
  .sm-margin-b-0 { margin-bottom: 0; }
  .sm-margin-l-0 { margin-left: 0; }
  .sm-margin-r-0 { margin-right: 0; }

  .sm-margin-t-1 { margin-top: 5%; }

 html {
   font-size: 12px,
 }

 .services h4 {
   margin-bottom: 1rem;
 }
 .services p {
   margin-bottom: 3rem;
 }
}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {
  .show-xs { display: block; }
  .hide-xs { display: none;  }

  .xs-tall-40 {
    min-height: 40vh;
  }

  .xs-margin-t-2 { margin-top: 10%;}
  .xs-margin-t-1 { margin-top: 5%;}

  html {
    font-size: 10px;
    width: 100%;
  }

  .big-text {
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 0;
}
.date {
  font-size: 1rem;
}


}
