* {
  padding: 0;
  margin: 0;
  box-sizing:  border-box;
}

img { max-width: 100%; }

/* Optional padding to override default gridlex columns */ 

[class*=col] { padding: 0; }
[class~="grid"] { margin: 0;}








/* Typography Styles */

.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-center  { text-align: center; }

.uppercase  {   text-transform: uppercase;}

.light { font-weight: 300;}


body {
    font-family: 'Open Sans', sans-serif;
    color: #333d29;
}

h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  margin-bottom: 1.2rem;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 8rem;
    line-height: 0.9;
    margin-bottom: 0.2rem;
    
}

h3 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 0.8;
}

p {
  line-height: 1.6; 
  margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #a4ac86;
}

.button {
    font-size: 1.4rem;
    font-weight: 300;
}


.date {
    font-size: 0.8rem;
    font-weight: 300;
}
.big-text {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 0;
}

h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
	margin-bottom: 0;
}



/* Height Utility Classes */

.tall-20     {   min-height: 20vh;}
.tall-30     {   min-height: 30vh;}
.tall-40     {   min-height: 40vh;}
.tall-50     {   min-height: 50vh;}
.tall-60     {   min-height: 60vh;}
.tall-70     {   min-height: 70vh;}
.tall-80     {   min-height: 80vh;}
.tall-90     {   min-height: 90vh;}
.tall-100     {   min-height: 100vh;}


/* Padding Utility Classes */ 
.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }



/* Background Styles */

.bg-dark { 
    background-color: #333d29; 
    color: white;
  }
  
  .bg-featured { background-color: lightblue; }
  .bg-light { background-color: rgb(245,245,245); }
  
  .bg-image {
    background-color: grey; /* Set a fall-back color while images are loading */ 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
  /* Aspect Ratios with percentage unit are only effective if the element (the <div>) is inside a parent container or column, it can't be applied to the column itself. */
  
  .landscape     { padding-bottom: 66%;  }
  .portrait-tall { padding-bottom: 175%; }
  .portrait      { padding-bottom: 125%; }
  .square        { padding-bottom: 100%; }
  
  
  /* Background Position */
  .bg-pos-t { background-position: top; }
  .bg-pos-b { background-position: bottom; }
  .bg-pos-l { background-position: left; }
  .bg-pos-r { background-position: right; }

  .border {
      border: 1px solid;
  }




  /*                    Header             */


    /* Nav bar */

    .logo {
        font-size: 2rem;
    }
    .nav-bar {
        position: fixed;
        top: 0;
        width: 100vw;
        color: #333d29;
        background-color: white;
        z-index: 3;
    }

    header h3 {
        font-size: 2rem;
        font-weight: 300;
    }

    .nav-bar nav a {
        margin-right: 2.5%;
        font-size: 1.2rem;
    }



    .overlay {
        position:absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.212);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


/* Images */

.header-img {
    background-image: url(/images/healthy-infusion-1.jpg);
    
}

.about-img {
    background-image: url(/images/healthy-infusion-2.jpg);
}

.services-img {
    background-image: url(/images/healthy-infusion-3.jpg);
}

/* Services */

.services p {
    margin-bottom: 2rem;
}


/* Footer */

.inline a {
    display:inline-block;
    padding: 0.5rem;
  }